<div style="position: relative; width: 100%; height: 90vh;">
    <!-- Background image with brightness filter -->
    <div style="background-image: url(assets/cimat.jpg); background-repeat: no-repeat; background-attachment: fixed; background-size: cover; background-position: center; filter: brightness(0.4); position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></div>
    
    <!-- Text content with no filter -->
    <div style="position: relative; z-index: 1; display: flex; justify-content: center; align-items: center; height: 100%;">
        <h1 style="font-size: 4em; font-weight: bold; color: white;">Ciments de l'Atlas</h1>
    </div>
</div>
