.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    
    border-radius: 5px;
  }
  fieldset {
    border: 2px solid #1f293781;  /* Change the color and thickness of the border */
    padding: 10px;              /* Adds some padding inside the fieldset */
    border-radius: 10px;
          /* Rounds the corners of the border */
  }
  
  legend {
    font-weight: bold;          /* Makes the legend text bold */
    color: #1f29376e;  
    padding: 5;           /* Matches the border color */
  }
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .btn-primary {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  